body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.completed{
    opacity:0.4;
}

.nav-pills{
	margin-bottom: 20px;
}

#inputTaskName {
	display: inline;
	width: 80%;
}

#addTaskButton {
	display: inline-block;
    margin-top: 2px;
    height: 30px;
    width: 10%;
    min-width: 35px;
}

.list-group-item {
	overflow: hidden;
	word-wrap: break-word;
}

.col-sm-4 {
    width: 100%;
}

.btn-success {
    float: right;
    margin-right: 5px;
}

.btn-danger {
	float: right;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
