body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.col-sm-4 {
    width: 100%;
}

.btn-success {
    float: right;
    margin-right: 5px;
}

.btn-danger {
	float: right;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
